[gcode_macro EXIT_BED]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 25 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 25 else -1) %}
    {% set z_safe = [th.position.z + 15, th.axis_maximum.z]|min %}

    M400                           ; wait for buffer to clear

    ; Retract to avoid oozing during initial calibration of next print
    {% if printer.extruder.temperature >= 230 %}
      G92 E0                         ; zero the extruder
      G1 E-7.0 F1700                ; retract filament
      G92 E0 ; zero the extruder 
    {% endif %}

    G90                                      ; absolute positioning
    G1 X{x_safe} Y{y_safe} Z{z_safe} F5000   ; move nozzle off part at a diagonal to limit stringing
    G1 X176 Y258 F3000                        ; park nozzle in far right corner so it is closer to X homing
    M107                                     ; turn off fan

    ; Remove calibrated Z offset
    SET_GCODE_OFFSET Z=0
    SET_PIN PIN=caselight VALUE=0.0
    {action_respond_info("Caselight off")}
    SET_LED LED=my_neopixel RED=0 GREEN=0 BLUE=0 INDEX=1 TRANSMIT=0
    SET_LED LED=my_neopixel RED=0 GREEN=0 BLUE=0 WHITE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=my_neopixel RED=0 GREEN=0 BLUE=0 WHITE=0 INDEX=3 
    TURN_OFF_HEATERS